<div class="footer">
    <div class="footer-links">
      <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
      <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
      <a href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      <%= link_to "Home", root_path %> | <%= link_to "Contacto", root_path %> | <%= link_to "Nosotros", root_path %>
    </div>
  </div>
