.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(bennelong.jpg);
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 32px;
  font-weight: 100;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: 0.9;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.btn-flat {
  background-color: #14a2fa;
  color: white;
  font-weight: 500;
  font-size: 1.5rem;
}

.btn-flat:hover {
  background-color: black;
  transition: ease-in all 0.3s;
  color: white !important;
  border: none;
}
