.button-card {
  overflow: hidden; /* para evitar que los elementos floten fuera del contenedor */
}

.btn-show {
  float: left;
  background-color: #14a2fa;
  color: white;
  font-weight: 500;
  font-size: 1.8rem;
  padding: 0.2rem;
  border-radius: 0.3rem;
}

.btn-show:hover {
  background-color: black;
  transition: ease-in all 0.4s;
  color: white !important;
  border: none;
}

.icono {
  float: right;
  font-size: 3rem;
  color: #14a2fa;
  padding-right: 2rem;
}

.icono:hover {
  transition: ease-in all 0.4s;
  color: black;
}

.btn-foods {
  background-color: #14a2fa;
  color: white;
  font-weight: 500;
  font-size: 1.8rem;
  padding: 0.2rem;
  border-radius: 0.3rem;
}

.btn-foods:hover {
  background-color: black;
  transition: ease-in all 0.4s;
  color: white !important;
  border: none;
}

.btn-foods-1 {
  background-color: #14a2fa;
  color: white;
  font-weight: 500;
  font-size: 1.9rem;
  border: none;
  border-radius: 0.3rem;
  padding-left: 0.15rem;
  padding-right: 0.15rem;
  margin-right: 0.2rem;
}

.btn-foods-1:hover {
  background-color: black;
  transition: ease-in all 0.4s;
  color: white !important;
  border: none;
}

// Alternativamente, también se puede utilizar la propiedad text-align en el contenedor para alinear los elementos, en lugar de usar la propiedad float. Para ello, establece text-align: justify en el contenedor y display: inline-block en los elementos que deseas alinear. Luego, establece text-align: left y text-align: right en los elementos respectivos.

// Por ejemplo:

// .container {
//   text-align: justify;
// }

// .izquierda,
// .derecha {
//   display: inline-block;
// }

// .izquierda {
//   text-align: left;
// }

// .derecha {
//   text-align: right;
// }

// En este caso, la propiedad text-align: justify se aplica al contenedor, y display: inline-block se aplica a los elementos izquierda y derecha. Luego, se usa text-align: left y text-align: right en los elementos respectivos para alinearlos a cada extremo del contenedor.
